/* these are hand-coded styles meant to work with and/or override
  what Bootstrap provides already. */

#tabs li a {
    border: 2px solid;
    font-size: 14px;
    background-color: #DCDCDC;
    font-weight: bold;
}

#tabs li.active a {
    border-bottom-color: transparent;
}

ul.nav-tabs  li  a{
    padding: 5px 10px;
    /* this was 5, 15 to take up more horizontal space before */
}

/* override the default list-wide border */
ul.nav-tabs { border-bottom: 0px; }


.tab-pane { 
    border:solid 1px gray;
    border-top: 0;
}

.panel-body {
    background-color: #DCDCDC;
    padding: 10px;
    padding-bottom: 0px;
   /* border-radius: 0 0 15px 15px;*/
}



.tab-pane.panel-body.active {
    border-radius: 0 15px 0 0; 
}


#shared_controls_panel { 
    border-radius: 0 0 15px 15px;
    background-color: #b4b4b4;
}

/* fix the uneven appearance of the form */
div.tab-content { width: 100%; }




.tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

div.submit-buttons {
    padding: 10px 10px;
}

.table { text-align: center; }
.table thead { font-size: 11px; }
.table tbody { font-size: 12px; }


form label{ 
   margin-right: 5px; 
   margin-top: 6px;
   font-size: 12px;
   /*float: left;*/
}

div .hide-plot { display : none; }
div .show-plot { display: inline;
                 float: right;
 }/* maybe it should be inline? */ 

div .show-plot img {  height: 375px; }

/*div .tab-pane { width: 6px;  } */

/*div .side { display: inline-block;
            vertical-align: top;
            } */

div .plot { margin-left:1.5em; }

td.show_plots > button { font-size: 12px;
                         padding  :  0px; }


/* don't put dots next to the radio buttons */
ul { list-style-type: none; }

ul#id_trans_factor-tf_library li  { display: inline; }

ul#id_trans_factor-tf_library label { margin-left: 1em; }

input[type="radio"] {  
  float: left;
  height: 15px;
  width: 15px;
  margin-right: 15px; 
  padding : 8;
  vertical-align: middle;
  margin-top: 1px;
}

/* can probably get rid of this styleclass */
label[for~="tf_library"] {
  vertical-align: middle;
}

input[type='number'] {
  width: 50%;
}

input[type='text'] {
  width: 50%;
}

select.form-control { 
  width: 30%;
}

td.trans-factor > select.form-control { 
  width: 90%;
}

table.formControls{
  width: 35em;
  margin-left: 1.5em;
}

.formControls tr { 
  height: 45px;
}
