@CHARSET "ISO-8859-1";

body {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.letter-A {
  fill: green;
  font-weight: bold;
}
.letter-C {
    fill: blue;
    font-weight: bold;
}
.letter-T {
    fill: red;
    font-weight: bold;
}
.letter-G {
    fill: orange; 
    font-weight: bold;
}








/* styling elements from harrison's SVG skeleton */
#legend {
    font-size: 20px;
}


text.graph-letter {
    /*font-size: 40px;*/
    font-weight: bold;
}


/*
#line1margin text{
    height: 20px;
    width: 20px;
    display: block;
}

#line2margin text { 
    height: 20px;
    width: 20px;
    display: block;
}
*/








