@CHARSET "ISO-8859-1";


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.letter-A {
  /*fill: green;*/
  fill: #4daf4a;
  font-weight: bold;
}
.letter-C {
    /*fill: blue;*/
    fill: #377eb8;
    font-weight: bold;
}
.letter-T {
    /*fill: red;*/
    fill: #e41a1c; 
    font-weight: bold;
}
.letter-G {
    /*fill: orange;*/
    fill: #ff7f00;
    font-weight: bold;
}








/* styling elements from harrison's SVG skeleton */
#legend {
    font-size: 20px;
}


text.graph-letter {
    /*font-size: 40px;*/
    font-weight: bold;
}




