/* Styles for the search page and results table.*/

   /* Result table styles for creating the scrollable
    * table itself.*/

     tr.neutral { 
        background-color: #FCE6C9
        /* eggshell */
     }

     tr.loss {   
        background-color: #FFC1C1;  
     }
  
     tr.gain {  
        background-color: #BDFCC9;    
     }

     tr td.cl_plot {
        background-color: white;
        /* keep the color coding to the numeric columns for now. */
     }


     #drop-in td {
        vertical-align: middle;
        border-left: .5px solid rgba(128, 128, 128, 0.76);
     } 

     #drop-in table{
        border: .5px solid grey;
     }


    thead.fixed-header tr { 
       display: block;
       position: relative;
       border-bottom: 1px solid gray;
    }

    thead.fixed-header { 
      display: table-header-group;
      vertical-align: middle;
    }

    table.fixed-header thead.fixed-header th { 
      border-left: 1px solid black;
      border-bottom: 0px;
      text-align: left;
      display: table-cell; 
      padding-left: 0px;
      padding-right: 0px; }

    table.fixed-header thead.fixed-header th + th { 
     border-left: 1px solid black; 
     border-bottom: 0px;
      }


    table.fixed-header tbody.scroll-content {
      display: block;
      height: 525px;
      overflow: auto;
      width: 1162px;
    }

    tbody.scroll-content tr {
      display: table-row;
    }

    table.fixed-header tbody.scroll-content td {
       display: table-cell;
       padding-left: 0px;
       padding-right: 0px; 
       border-bottom: 1px solid gray;
       border-top: 0px;
    }

    table.fixed-header thead.fixed-header span {
      display: block;
      text-align: center;
      width: 100%;
    }

/* Result table styles for sepecific columns */
/* NOTE: unfix column widths at your own peril */
   svg { width: 290px; }
   .snpid { width: 85px; }
   .coordinate { width: 150px; }
   .pval_rank { width: 90px; }
   .pval_ref { width: 120px; }
   .pval_snp { width: 90px; }
   .trans_factor { width: 140px; }
   .details { width: 60px; }
   .cl_plot { width: 300px; }
   .add_to_download { width: 105px; }


/* Styles for the box that explains each search type */
   /* tighten this up */
    div.explain {
          padding:5px; 
          padding-bottom: 0px;
          padding-left: 10px;
          margin-top: 0px;
          border:1px dashed lightgray;
     }

/* Styles for buttons to page forward and back through search results*/
    #ajaxyPagingButtons {
      margin-right: auto;
      margin-left: auto;
      width: 630px;
      margin-bottom: 45px;
    }

/* Style for the "/ 889" pages span. */
    #page_total { 
       margin-left: 0.2em; 
       margin-right: 0.2em; 
       display: none;
       font-size : 14px;
    }


/* Styles to highlight any messages about an invalid query */
    #status_above { 
        font-weight: bold;
        font-size: 16px;
    }

    #form_errors { 
        font-weight: bold;
        color: red;
        font-size: 14px;
    }
/* Style(s) for displaying the tabbed-search-forms 
 * (Bootstrap handles most of it though.)*/
    #tabbed-forms { margin-right: 2px; }

/*Display the information content filtering controls horizontally. 
  Matches ALL of the controls whose IDs end in 'ic_filter'*/
    [id$=ic_filter] li { display: inline; }
    [id$=ic_filter] { padding: 0px; }
    [id$=ic_filter] label { font-size: 12px; }



/* Styles for parts of the sort control. Included here so they're
 * not repeated. */


 /* http://stackoverflow.com/questions/34482775/
     css-how-to-position-child-divs-in-main-div-side-by-side*/
 div.sort-controls { display:flex;  }
 div.sort-controls > div.sort-selectors { flex: 1; }

 .sort-control option{ 
       font-size: 14px; 
       height: 1.5em;
  }
 .sort-order-select option { 
          color: black; 
  }

  .sort-order-select { 
      width : 7em;
      background-color:white;
  }
  .shift-priority { width: 40px; 
                    margin-top: 1.5em;
                    margin-right: 8px;
                    flex: 0 0 0;
                  }

  .shift-priority button {
   
  }

  /* make the genomic region formatting more standard-looking */
  #id_gl_region-selected_chromosome{
      width: 6em;
  }

  [for='id_gl_region-gl_start_pos'] {
      width: 10em;
  }

  #id_gl_region-gl_start_pos, #id_gl_region-gl_end_pos {
      width: 90%;
  }



  /* got this from here 
     http://stackoverflow.com/questions/41644637/
     how-to-remove-select-vertical-scroll-bar*/
 .hide-overflow select{
    padding: 4px;
    margin: -5px -23px -5px -5px;
  }
  .hide-overflow span {
    margin-top: .1em;
    margin-bottom: .1em; 
  }
  .hide-overflow {
    padding-right: 7px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    /*border: solid #DCDFE3 1px*/
  }


  /*Make the primary search directive stand out.*/
  span.bigred {
    color: #C41E3A;  /* this color is now 'cardinal' instead of RED.*/
    font-weight:bold;
  }

  /* lifted from o
   * https://stackoverflow.com/questions/18499449/show-ajax-spinner-hide-page-render-until-all-ajax-calls-complete
   */
  #loading {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      /*background-color: rgba(0,0,0,.5);  more transparent */
      background-color: rgba(0,0,0,.15);  
      -webkit-transition: all .5s ease;
      z-index: 220;
      display:none;
  }

div.single-search-result {
    font-size: 15px;
    color: white;
    border: black 2px;    
    background-color: #756bb1;
    margin: 0em 1em 1em 0em;
    /*margin: 3em; loosen up width */ 
    padding: 5px; 
    border-radius: 10px;
    display: flex;
}

div.single-search-result a {
    color: #d6b15e;
    /*color: gold;*/
}

/* nudge the composite logo plot to the rightmost side of the result */
div.single-search-result div.side { 
  float: right;
}

span.label { font-size: 16px;   }

span.value { font-size: 24px;  }

div.pvalues_for_record span { padding: 3px 2px 3px 2px; }

svg.stacked-target { border-radius: 10px; }
