/* Styles for the search page and results table.*/


   /* Result table styles for creating the scrollable
    * table itself.*/

     #drop-in td {
        vertical-align: middle;
        border-left: .5px solid rgba(128, 128, 128, 0.76);
     } 

     #drop-in table{
        border: .5px solid grey;
     }

    /* begin stuff from http://jsfiddle.net/dPixie/byB9d/3/ */ 
    /* Scroll class used for the div where the table is dropped in*/
    div.scroll { 
        clear: both;
        height: 550px;
        overflow: hidden;
        width: 1316px;
        display: block; }

    div.scroll table.fixed-header { 
       width: 1164px;
       float: left;
    }

    thead.fixed-header tr { 
       display: block;
       position: relative;
       border-bottom: 1px solid gray;
    }

    thead.fixed-header { 
      display: table-header-group;
      vertical-align: middle;
    }

    table.fixed-header thead.fixed-header th { 
      border-left: 1px solid black;
      border-bottom: 0px;
      text-align: left;
      display: table-cell; 
      padding-left: 0px;
      padding-right: 0px; }

    table.fixed-header thead.fixed-header th + th { 
     border-left: 1px solid black; 
     border-bottom: 0px;
      }


    table.fixed-header tbody.scroll-content {
      display: block;
      height: 525px;
      overflow: auto;
      width: 1162px;
    }

    tbody.scroll-content tr {
      display: table-row;
    }

    table.fixed-header tbody.scroll-content td {
       display: table-cell;
       padding-left: 0px;
       padding-right: 0px; 
       border-bottom: 1px solid gray;
       border-top: 0px;
    }

    table.fixed-header thead.fixed-header span {
      display: block;
      text-align: center;
      width: 100%;
    }

/* Result table styles for sepecific columns */
/* NOTE: unfix column widths at your own peril */
   svg { width: 290px; }
   .snpid { width: 85px; }
   .coordinate { width: 150px; }
   .pval_rank { width: 90px; }
   .pval_ref { width: 120px; }
   .pval_snp { width: 90px; }
   .trans_factor { width: 140px; }
   .details { width: 60px; }
   .cl_plot { width: 300px; }
   .add_to_download { width: 105px; }


/* Styles for the 'infobox' that explains the search types  */
    #flex { 
      display: flex; 
      width: 1164px;
    }

    #infobox { flex: 1; } 
    p.explain-search { display: none; }
    div.explain#search-exp { height: 100px; } 

    /* The SNPid list search is open when the page loads. */
     #snpid_search_form-explain { display: block; }

    div.explain {
          padding:10px; 
          margin-left:5px;
          margin-top: 0px;
          border:1px dashed lightgray;
     }

/* Style(s) that determine how the box describing downloads looks. */
     #download-exp {
          display:none;  
     } /* is shown when search results are shown */

/* Styles for buttons to page forward and back through search results*/
    #ajaxyPagingButtons {
      margin-right: auto;
      margin-left: auto;
      width: 580px;
      margin-bottom: 45px;
    }

/* Style for the "/ 889" pages span. */
    #page_total { 
       margin-left: 0.2em; 
       margin-right: 0.2em; 
       display: none;
       font-size : 14px;
    }


/* Styles to highlight any messages about an invalid query */
    #status_above { 
        font-weight: bold;
        font-size: 16px;
    }

    #form_errors { 
        font-weight: bold;
        color: red;
        font-size: 14px;
    }
/* Style(s) for displaying the tabbed-search-forms 
 * (Bootstrap handles most of it though.)*/
    #tabbed-forms { margin-right: 2px; }

/*Display the information content filtering controls horizontally. 
  Matches ALL of the controls whose IDs end in '-ic_filter'*/
    [id$=-ic_filter] li { display: inline; }
    [id$=-ic_filter] { padding: 0px; }
    [id$=-ic_filter] label { font-size: 12px; }



/* Styles for parts of the sort control. Included here so they're
 * not repeated. */


 /* http://stackoverflow.com/questions/34482775/
     css-how-to-position-child-divs-in-main-div-side-by-side*/
 div.sort-controls { display:flex;  }
 div.sort-controls > div.sort-selectors { flex: 1; }

 .sort-control option{ 
       font-size: 14px; 
       height: 1.5em;
  }
 .sort-order-select option { 
          color: black; 
  }

  .sort-order-select { 
      width : 7em;
      background-color:white;
  }
  .shift-priority { width: 30px; 
                    margin-top: 1.5em;
                    margin-right: 4px;
                  }

  /* got this from here 
     http://stackoverflow.com/questions/41644637/
     how-to-remove-select-vertical-scroll-bar*/
 .hide-overflow select{
    padding: 4px;
    margin: -5px -23px -5px -5px;
  }
  .hide-overflow span {
    margin-top: .1em;
    margin-bottom: .1em; 
  }
  .hide-overflow {
    padding-right: 7px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: solid #DCDFE3 1px
  }

