{% load staticfiles %}
<html>
<head>
<link href="{% static 'ss_viewer/css/bootstrap.min.css' %}" rel="stylesheet">
 <meta charset="utf-8">
<title>About atSNP</title>
</head>

<body style="background-color: #dcdcdc;"  >

<div class="container">
<div id="content">

<h1>About atSNP Search</h1>

<a href="{% url 'ss_viewer:multi-search' %}">Back to Search</a>


<h3 style="text-decoration:underline;"> About </h3>
<p>
<p>atSNP is a web-based database that evaluates the impact of SNPs on the ability of transcription factors to bind to DNA. atSNP in silico calculations are based on the statistical method in Zuo et al., Bioinformatics (2015) .</p>

<p>Current version of atSNP enables querying ~133 million SNPs from the NCBI database of genetic variation (dbSNP build 144 for human genome GRCh38: http://www.ncbi.nlm.nih.gov/SNP/) with two major sources of transcription factor position weight matrix (PWM) libraries: JASPAR (http://jaspar.genereg.net/) and ENCODE motifs (http://compbio.mit.edu/encode-motifs/).i</p>

<p>
atSNP identifies and scores best matches to the transcription factor PWMs with both the reference and the SNP alleles in a small window around the SNP location (up to +/- 30 bps and considering subsequences spanning the SNP location). It evaluates the significance of each score and quantifies the significance of the score difference between the reference and the SNP alleles. In this calculation, genomic subsequences providing the best matches with the reference and SNP alleles are allowed to vary. atSNP also provides a composite logo plot for easy visualization of the quality of the reference and SNP allele matches to the PWM and the impact of SNP on the match change.
</p>

<p>
The p-values quantifying the impact of SNP on the PWM matches (p-value Rank) and the composite logo plots are two key features of atSNP for users scanning vast amounts of SNP-PWM combinations. 
</p>
</p>

<h3 style="text-decoration:underline;" >Numerical summaries</h3>
<p>
<ul>
   <li> How many SNPs are investigated? 132,946,852 SNPs</li>
   <li> How many PWMs are considered? 2,270 PWMs</li>
   <li> How many SNP-PWM combinations are evaluated? 307,602,574,340 SNP-PWM pairs</li>
</ul>
</p>


<h3 style="text-decoration:underline;" >References</h3>
<p>
<ul>
 <li>Zuo, Chandler, Shin, Sunyoung, and Keleş, Sündüz. atSNP: transcription factor binding affinity testing for regulatory SNP detection. Bioinformatics (2015): 31, 3353-3355.</li>
  <li>Shin, Sunyoung, Hudson, Rebecca, Harrison, Christopher, Craven, Mark, and Keleş, Sündüz. atSNP-DB: A comprehensive database of impact of dbSNP SNPs on transcription factor binding. (2016). In preparation.</li>
</ul>
</p>

<h3 style="text-decoration:underline;" >Support</h3>
<p>
Center for Predictive Computational Phenotyping, University of Wisconsin Madison.
</p>


<h3 style="text-decoration:underline;">Contact</h3>
<ul>
<li><span>Contact keles@stat.wisc.edu </span></li>
</ul>



<a href="{% url 'ss_viewer:multi-search' %}">Back to Search</a>
</div>
</div>

</body>
</html>

