{% load staticfiles %}
<head>
  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Detail View for {{ id_str }}</title>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link href="{% static 'ss_viewer/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'ss_viewer/custom.css' %}" rel="stylesheet">
  <link href="{% static 'ss_viewer/plot-styles.css' %}" rel="stylesheet"> 
  
  <script src="http://d3js.org/d3.v3.min.js"></script> <!-- this should be saved statically into the project -->
  
  <script type="text/javascript" src="{% static 'ss_viewer/plotIntoSVGSkeleton.js' %}"> </script> 
  <script type="text/javascript" src="{% static 'ss_viewer/plots.js' %}"></script>
   <!-- plots.js contains all code for drawing plots  -->
  <style type="text/css">
  th {
    text-align:center;
  }
  th, td {
      padding: 0px 20px 0px 20px;
      border: 1px solid black;
  }
  table {
    border: 1px solid black;
  }
  
  </style>
</head>
<body>
<div class="container">
<div id="content">
         <h3 style="text-decoration:underline;"> Details </h3>
         <p>
         <table>                                  
            <thead><tr><th colspan="2">SNP Information</th></tr></thead>
            <tbody>
              <tr> <td>rsID                    </td> 
                   <td>{{ api_response.snpid }}</td> 
              </tr>
              <tr> <td>Coordinate          </td> 
                   <td>{{ api_response.chr }}:{{ api_response.pos }}</td>
              </tr>
              <tr> <td>Reference/SNP allele         </td> 
                   <td>{{ api_response.refAllele }} /
                       {{ api_response.snpAllele }} </td>
              </tr>
            </tbody>
         </table>
         </p>
         <p>
         <table>                                  
            <thead><tr><th colspan="2">Motif Information</th></tr></thead>
            <tbody>
              <tr><td>Motif               </td> <td>{{ api_response.motif }}       </td>  </tr>
              <tr><td>Transcription Factor</td> <td>{{ api_response.trans_factor }}</td>  </tr>
            </tbody>
         </table>
         </p> 
         <p>
         <table>                                  
            <thead><tr><th colspan="3">atSNP Results</th></tr></thead>
            <tbody>
              <tr><td>            </td>
                  <th>Log likelihood                                   </th>
                  <th>p-values                                         </th>
              </tr>
              <tr><td>Rank        </td>
                  <td>                                                 </td> 
                  <td>{{ api_response.pval_rank|floatformat:3 }}       </td> 
              </tr>
              <tr><td>Reference   </td> 
                  <td>{{ api_response.log_lik_ref |floatformat:3 }}    </td>
                  <td>{{ api_response.pval_ref|floatformat:3 }}        </td>
              </tr>
              <tr><td>SNP         </td>
                  <td>{{ api_response.log_lik_snp| floatformat:3  }}   </td> 
                  <td>{{ api_response.pval_snp| floatformat:3  }}      </td> 
              </tr>
              <tr><td>Ratio       </td>
                  <td>{{ api_response.log_lik_ratio| floatformat:3 }}  </td> 
                  <td>{{ api_response.pval_diff| floatformat:3 }}      </td> 
              </tr>
              <tr><td>Enhance odds</td>
                  <td>{{ api_response.log_enhance_odds| floatformat:3 }}</td> 
                  <td>{{ api_response.pval_cond_ref| floatformat:3 }}   </td> 
              </tr>
              <tr><td>Reduce odds </td>
                  <td>{{ api_response.log_reduce_odds| floatformat:3 }}</td> 
                  <td>{{ api_response.pval_cond_snp| floatformat:3 }}   </td> 
              </tr>
            </tbody>
         </table>
         </p>
<!--  this is the way that we will be displaying the plot -->
<div>
  <button title="Download this plot." id="download_detail_plot" 
  type="button" class="btn-primary" style="margin-left:14em;">
  Download Plot</button>
</div>
   <div id="plots">
     {% include "ss_viewer/svg_skeleton.html" %}
   </div>
 <canvas id="canvas" style="display:none;" width="800" height="370"></canvas>

<div id="plot_data" style="display:none;">
  {{ api_response.json_for_plotting }} 
</div>


<div id="drop-in"></div>
<!-- this div is where search results are 'dropped in' -->

</div> <!-- close the 'content' div -->
</div> <!-- close the 'container' div -->

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        console.log("I'm a kitty!");
        var data_for_one_plot = $("#plot_data")[0].textContent;
        onePlotData = jQuery.parseJSON(data_for_one_plot);
        makeAPlot(onePlotData, 'target-0');
        console.log("I'm stuck in this box!");

        $("#download_detail_plot").click(function(e) {
            downloadDetailPlot();
        });

    });//end of document.ready stuff.

    //There's a lot of stuff in this method copied out of plots.js
    //TODO: consider at least partially refactoring plots.js so the
    //      repeated plotting code can become reused code.
    function downloadDetailPlot(){
        var svg = document.querySelector('svg#target-0');
        svg = svg.cloneNode(true); //the true parameter specifies a deep copy
        svg.setAttribute('id', 'tempSVG');
        
        var defs = d3.select(svg).insert("defs", ":first-child").append("marker")
                                   .attr("id","Triangle")
                                   .attr("markerWidth","5")
                                   .attr("markerHeight","3")
                                   .attr("stroke", "blue")
                                   .attr("orient", "auto")
                                   .attr("viewBox", "0 0 10 10")
                                   .attr('refX', '1')
                                   .attr('refY', '5')
                                   .append("path").attr("d", "M 0 0 L 10 5 L 0 10 z");
          
          var canvas = document.getElementById('canvas');
          canvas.setAttribute('width',  $("#target-0").attr('width'));

          var ctx = canvas.getContext('2d');

          // Reset the canvas to remove any plots drawn before this one 
          //taken from :http://www.html5canvastutorials.com/advanced/html5-clear-canvas/ 
          ctx.clearRect(0, 0, canvas.width, canvas.height);

     
          var xmlData = (new XMLSerializer()).serializeToString(svg);
          var image = new Image();
          image.src = 'data:image/svg+xml;base64,' + window.btoa(xmlData);
          image.onload = function() {
              var canvas = document.createElement('canvas');
              canvas.width = image.width;
              canvas.height = image.height;
              var context = canvas.getContext('2d');
              
              context.drawImage(image, 0, -30);
              var fname = "{{ id_str }}";
              console.log('name of saved plot file: ' + fname);
              var a = document.createElement('a');
              a.download = fname + ".png";
              a.href = canvas.toDataURL('image/png');
              document.body.appendChild(a);
              a.click();
          }
    }
</script>
</body>

         <!-- 
         <table>
         <tr> <thead>Details for {{ id_str }}</thead></tr>
         <tbody>
         -->
         <!-- the following commented-out rows display data that's only used for plotting -->
         <!--  <tr> <td>snp_aug_match_seq   </td> <td>{{ api_response.snp_aug_match_seq   }} </td></tr>--> 
         <!--  <tr> <td>snp_extra_pwm_off   </td> <td>{{ api_response.snp_extra_pwm_off   }} </td></tr>-->
         <!--  <tr> <td>ref_extra_pwm_offset</td> <td>{{ api_response.ref_extra_pwm_offset}} </td></tr>-->
        <!--  <tr> <td>Chromosome                  </td> <td>{{ api_response.chr }}                            </td></tr>
         <tr> <td>Position                    </td> <td>{{ api_response.pos }}                            </td></tr>
         <tr> <td>SNPid                       </td> <td>{{ api_response.snpid }}                          </td></tr>
         <tr> <td>Transcription Factor        </td> <td>{{ api_response.trans_factor }}                   </td></tr>
         <tr> <td>Motif                       </td> <td>{{ api_response.motif }}                          </td></tr>
         <tr> <td>Motif Length                </td> <td>{{ api_response.motif_len }}                      </td></tr>
         <tr> <td>Pvalue Rank                 </td> <td>{{ api_response.pval_rank|floatformat:3 }}        </td></tr>
         <tr> <td>SNP Start                   </td> <td>{{ api_response.snp_start }}                      </td></tr>
         <tr> <td>SNP End                     </td> <td>{{ api_response.snp_end }}                        </td></tr>
         <tr> <td>Refrence Start              </td> <td>{{ api_response.ref_start }}                      </td></tr>
         <tr> <td>Reference End               </td> <td>{{ api_response.ref_end }}                        </td></tr>
         <tr> <td>Log Likelihood Reference    </td> <td>{{ api_response.log_lik_ref |floatformat:3 }}     </td></tr>
         <tr> <td>Log Likelihood Ratio        </td> <td>{{ api_response.log_lik_ratio|floatformat:3 }}    </td></tr>
         <tr> <td>Log Enhance Odds            </td> <td>{{ api_response.log_enhance_odds|floatformat:3 }} </td></tr>
         <tr> <td>Log Reduce Odds             </td> <td>{{ api_response.log_reduce_odds |floatformat:3 }} </td></tr>
         <tr> <td>Log Likelihood SNP          </td> <td>{{ api_response.log_lik_snp| floatformat:3  }}    </td></tr>
         <tr> <td>SNP Strand                  </td> <td>{{ api_response.snp_strand }}                     </td></tr>
         <tr> <td>Reference Strand            </td> <td>{{ api_response.ref_strand }}                     </td></tr>
         <tr> <td>Pvalue Reference            </td> <td>{{ api_response.pval_ref|floatformat:3 }}         </td></tr>
         <tr> <td>Pvalue SNP                  </td> <td>{{ api_response.pval_snp|floatformat:3 }}         </td></tr>
         <tr> <td>Pvalue Conditional Reference</td> <td>{{ api_response.pval_cond_ref|floatformat:3}}     </td></tr>
         <tr> <td>Pvalue Conditional SNP      </td> <td>{{ api_response.pval_cond_snp|floatformat:3}}     </td></tr>
         <tr> <td>Pvalue Difference           </td> <td>{{ api_response.pval_diff|floatformat:3 }}        </td></tr>
         <tr> <td>Reference Allele            </td> <td>{{ api_response.refAllele }}                      </td></tr>
         <tr> <td>SNP Allele                  </td> <td>{{ api_response.snpAllele }}                      </td></tr>
         </tbody>
         </table> -->
