<!-- Clickable button that you can switch by clicking on it.  -->
 <button class="cutoff-picker" 
         name='{{ btn_name }}' 
         value="lte"
         onclick="switchDirection(event);">&le;</button>
 <!-- change on click... --> 
   <!-- <span class="glyphicon glyphicon-chevron-up"></span> -->

 <!-- TODO: factor out this style, as it's repeated each time this template is incldued. -->
 <style type="text/css">
   button.cutoff-picker { width: 2em;
                          float: left;
                          font-weight: bold;
                          margin-top: 5px;
                          height: 25px;
                          line-height: 16px;
                        }
 </style>
