<!-- Clickable button that you can switch by clicking on it.  -->
 <button class="cutoff-picker" 
         name='{{ btn_name }}' 
         value="lt"
         title="Click to switch the direction of the cutoff."
         onclick="switchDirection(event);">&lt;</button>
 <!-- change on click... --> 
   <!-- <span class="glyphicon glyphicon-chevron-up"></span> -->

 <style type="text/css">
   button.cutoff-picker { width: 2em;
                          float: left;
                          margin-top: 5px;
                        }
 </style>
