<div class="tab-pane panel-body
   {%if active_tab == 'gene-name'%} active{%endif%}"  id="gene_name_form" >
  <form role="form"  
        enctype="multipart/form-data" 
        action="{% url 'ss_viewer:gene-name-search' %}" 
        method="post">
  {% csrf_token %}
<table class="formControls">
<tbody>
<tr> 
  <td>   {{ gene_name_form.gene_name.label_tag }}  </td>
  <td> {{ gene_name_form.gene_name  }} </td>
</tr>
<tr> 
  <td>   {{ gene_name_form.window_size.label_tag }}  </td>
  <td> {{ gene_name_form.window_size  }} </td>
</tr>
<tr>
<td> {{ gene_name_form.pvalue_rank_cutoff.label_tag }} </td>
<td> {{ gene_name_form.pvalue_rank_cutoff }}</td>
</tr>
<tr>
<td> {{ gene_name_form.pvalue_ref_cutoff.label_tag }} </td>
<td> {{ gene_name_form.pvalue_ref_direction }} 
     {{ gene_name_form.pvalue_ref_cutoff }}</td>
</tr>
<tr>
<td> {{ gene_name_form.pvalue_snp_cutoff.label_tag }} </td>
<td> {{ gene_name_form.pvalue_snp_direction }}
     {{ gene_name_form.pvalue_snp_cutoff }} </td>
</tr>
<tr>
  <td><label> Specify sort order:</label><br/>
      <label style="font-size: 12px;" >
               Select a field to adjust <br/> its sort priority.<br/> 
               Reverse a sort order by <br/> clicking on it.</label>  </td> 
  <td> {% include "ss_viewer/sort_widget.html" %} </td>
</tr>
</tbody>
</table>
  {# Include the hidden fields #}
  {% for hidden in gene_name_form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
      <div class="submit-buttons">
          <input type="submit" name="action" value="Search by Gene Name"  
                                                          class="btn btn-primary" />
      </div> <!-- end div for submit buttons. -->
       <button id="gene-name-search-demo" type="button" class="btn btn-link" title="Fill out the form with demo values."> Use demo values for search.</button>
  </form>
</div>
