<div class="tab-pane panel-body
   {%if active_tab == 'gene-name'%} active{%endif%}"  id="gene_name_form" >
  <div class="explain">  
    <p class="explain-search" id="gene_name_form-explain">
       <span class="bigred">Please type a gene symbol name and a window size.<br />
       The overall region considered will start this number of bases upstream of 
       the gene's transcription start site (TSS) and end at this number of bases 
       downstream of the gene's transcription end site (TES).
       </span><br />The window size is limited to 125 million bases.
     </p>
  </div>
  <form role="form"  
        enctype="multipart/form-data" 
        action="{% url 'ss_viewer:gene-name-search' %}" 
        method="post">
  {% csrf_token %}
<table class="formControls">
<tbody>
<tr> 
  <td> <label for="id_gene_name-gene_name" data-balloon="{{ tooltips.gene_name }}"  data-balloon-pos="left" >
         Gene Name
       </label></td>
  <td> {{ gene_name_form.gene_name  }} </td>
</tr>
<tr> 
  <td> <label for="id_gene_name-gene_name" data-balloon="{{ tooltips.gene_window_size }}" data-balloon-pos="left" data-balloon-length="large">
        Window Size
       </label></td>
  <td> {{ gene_name_form.window_size  }} </td>
</tr>
</tbody>
</table>
  </form>
</div>
