<!-- begin the imported chunk -->
<div class="tab-pane panel-body 
   {%if active_tab == 'gl-region' %} active{%endif%}" id="gl_region_search_form" >

  <div class="explain"> 
    <p class="explain-search" id="gl_region_search_form-explain"> 
       <span class="bigred">Please specify a genomic region of interest 
       by its chromosome, start and end positions (1-based).<br /> </span> 
       The region size is limited to 250 million bases.
     </p>
  </div>

  <form role="form" enctype="multipart/form-data" 
        action="{% url 'ss_viewer:gl-region-search' %}" method="post" >
  {% csrf_token %}
<table class="formControls genomic-location">
<tbody>

<tr style="height: 20px;"> 
  <td data-balloon="{{ tooltips.genomic_location_chromosome }}" data-balloon-pos="up" data-balloon-length="large" style="width: 5.5em;"> {{ gl_search_form.selected_chromosome.label_tag }}
  <td style="width: 1.5em;"> </td>
  <td style="width: 10em;"  > 
    <label data-balloon="{{ tooltips.genomic_location_start }}" data-balloon-pos="up" for="id_gl_region-gl_start_pos">
       Start position 
    </label>
  </td>
  <td style="width: 1.5em;"> </td>
  <td style="width: 10em;">
    <label data-balloon="{{ tooltips.genomic_location_end }}" data-balloon-pos="up" for="id_gl_region-gl_end_pos">
        End position 
    </label>
   </td>
</tr>

<tr>
 <td> {{ gl_search_form.selected_chromosome }}</td>
 <td> <span style="font-weight: bold">:</span> </td>
 <td style="width: 10em;"> {{ gl_search_form.gl_start_pos  }}  </td>
 <td> <span style="font-weight: bold">-</span> </td>
 <td style="width: 10em;"> {{ gl_search_form.gl_end_pos }}     </td>
</tr>


</tbody>
</table>
  </form>
</div>
