<div id="plot" class="side">

<svg class="snp-target" id="target-snphalf-0" width="900" height="150">
<style type="text/css">
.axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
svg { background-color: white; }
.letter-A { fill: green; font-weight: bold; }
.letter-C {
    fill: blue;
    font-weight: bold;
}
.letter-T {
    fill: red;
    font-weight: bold;
}
.letter-G {
    fill: orange;
    font-weight: bold;
}
#legend {
    font-size: 20px;
}
</style>
        <!-- motif plot for the SNP sequence -->
        <g id="legend" transform="translate(10)"  >
            <g id="line3margin" transform="translate(0, 50)" >
                <text style="center">+/-</text>
            </g>
            <g id="line4margin" transform="translate(0, 100)">
                <text style="center">SNP</text>
            </g>
        </g>
        <g id="logoplots" transform="translate(50)">
            <rect id="highlight" />
            <g id="line3data" transform="translate(0, 0)" >
            </g>
            <g id="line4data" transform="translate(0, 75)"  >
          </g>
        </g>
    </svg>
</div>

