<!--<canvas id="canvas" style="display:none;" height="400" width="900"></canvas>-->
<div id="plot" class="side">
<!-- pull in styles from a static file so they don't clutter the template -->
<svg class="ref-target" id="target-refhalf-0" width="900" height="150">
<style type="text/css">
.axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
svg { background-color: white; }
.letter-A { fill: green; font-weight: bold; }
.letter-C {
    fill: blue;
    font-weight: bold;
}
.letter-T {
    fill: red;
    font-weight: bold;
}
.letter-G {
    fill: orange;
    font-weight: bold;
}
#legend {
    font-size: 20px;
}
</style>
        <!-- motif plot for the reference sequence -->
        <g id="legend" transform="translate(10)"  >
            <g id="line1margin" transform="translate(0, 50)" >
                <text style="center">Ref</text>
            </g>
            <g id="line2margin" transform="translate(0, 100)" >
                <text style="center">+/-</text>
            </g>
        </g>
        <g id="logoplots" transform="translate(50)" >
            <rect id="highlight" />
            <g id="line1data" transform="translate(0, 0)" >
            </g>
            <g id="line2data" transform="translate(0, 50)" >
            </g>
        </g>
    </svg>
</div>

