{% load staticfiles %}
<head>
  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>atSNP Search</title>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link href="{% static 'ss_viewer/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'ss_viewer/custom.css' %}" rel="stylesheet">
  <link href="{% static 'ss_viewer/plot-styles.css' %}" rel="stylesheet"> 
  
  <script src="http://d3js.org/d3.v3.min.js"></script>
   
   <script type="text/javascript" src="{% static 'ss_viewer/cloneTheSkeleton.js' %}"> </script>  
   <script type="text/javascript" src="{% static 'ss_viewer/plotIntoSVGSkeleton.js' %}"> </script> 
   <script type="text/javascript" src="{% static 'ss_viewer/plotIntoSVG-shrinky-plots.js' %}"> </script>
   <script type="text/javascript" src="{% static 'ss_viewer/spin.min.js' %}"> </script> 
   <script type="text/javascript" src="{% static 'ss_viewer/setupSearchDemos.js' %}"> </script> 
   <script type="text/javascript" src="{% static 'ss_viewer/setupCSRF.js' %}"> </script> 
   <script type="text/javascript" src="{% static 'ss_viewer/js/dist/jszip.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'ss_viewer/js/FileSaver.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'ss_viewer/setupBulkPlotDownloads.js' %}"></script>
   <script type="text/javascript" src="{% static 'ss_viewer/ajaxyPosts.js' %}"></script>
   <!-- ajaxy posts contains code for creating AJAXy posts for searches, paging, and CSV downloads -->
   <script type="text/javascript" src="{% static 'ss_viewer/searchControl.js' %}"></script>
   <!-- searchControl.js contains code for setting up the AJAXy form submitssions,
           paging, hiding/showing controls -->
   <script type="text/javascript" src="{% static 'ss_viewer/plots.js' %}"></script>
   <!-- plots.js contains all code for drawing plots  -->

   <!-- <script type="text/javascript" src="{% static 'ss_viewer/table-fixed-header.js' %}"></script> -->


   <style type="text/css">

      div.explain {
           padding:10px; 
           margin-left:5px;
           margin-top: 0px;
           border:1px dashed lightgray;
      }

      #download-exp {
           display:none;  
      }

      #drop-in td {
         vertical-align: middle;
         border-left: .5px solid rgba(128, 128, 128, 0.76);
         /*padding: 2px;
         padding-left:0.5em;
         padding-right:0.5em;*/
      } 
      #drop-in table{
         border: .5px solid grey;
      }


/* begin stuff from http://jsfiddle.net/dPixie/byB9d/3/ */ 

div.scroll { 
    clear: both;
    height: 550px;
    overflow: hidden;
    width: 1316px;
    display: block; }

div.scroll table.fixed-header { 
   width: 1164px;
   float: left;
}

thead.fixed-header tr { 
   display: block;
   position: relative;
   border-bottom: 1px solid gray;
}

thead.fixed-header { 
  display: table-header-group;
  vertical-align: middle;
}

table.fixed-header thead.fixed-header th { 
  /*width: 200px;  */
  border-left: 1px solid black;
  border-bottom: 0px;
  text-align: left;
  display: table-cell; 
  padding-left: 0px;
  padding-right: 0px; }

table.fixed-header thead.fixed-header th + th { 
 border-left: 1px solid black; 
 border-bottom: 0px;
 /*border-right: 1px solid black;*/ }


table.fixed-header tbody.scroll-content {
  display: block;
  height: 525px;
  overflow: auto;
  width: 1162px;
}

tbody.scroll-content tr {
  display: table-row;
}

table.fixed-header tbody.scroll-content td {
   /*padding: 2px 3px 3px 4px;*/
   display: table-cell;
   padding-left: 0px;
   padding-right: 0px; 
   border-bottom: 1px solid gray;
   border-top: 0px;
   /*width: 200px;*/
}

table.fixed-header thead.fixed-header span {
  display: block;
  text-align: center;
  width: 100%;
}

svg { width: 290px; }

/* unfix column widths at your own peril */
.snpid { width: 85px; }
.coordinate { width: 150px; }
.pval_rank { width: 90px; }
.pval_ref { width: 120px; }
.pval_snp { width: 90px; }
.trans_factor { width: 140px; }
.details { width: 60px; }
.cl_plot { width: 300px; }
.add_to_download { width: 105px; }

#flex { 
  display : flex; 
  width: 1164px;
}
#search { /*flex: 0 0 55%; make it FLUSH!*/ }
#infobox { flex: 1; } 
p.explain-search { display: none; }
div.explain#search-exp { height: 100px; } 

/* the SNPid list is open by default */
 #snpid_search_form-explain { display: block; }

#ajaxyPagingButtons {
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  margin-bottom: 45px;
}

#tabbed-forms { margin-right: 2px; }
#tabs         {/* width: 616px;*/ }
</style>


</head>
<body>
<div class="container">
<div id="content">
{% include "ss_viewer/navbar.html" with active='searches' %}

<div id="flex">
  <div id="search" class="side"> 

  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li  {%if active_tab == 'snpid' or active_tab == 'none-yet'%}class="active"{%endif%}><a href="#snpid_search_form" data-toggle="tab"  >SNPid List</a></li>
    <li {%if active_tab == 'snpid-window'%}class="active"{%endif%}><a href="#snpid_window_form" data-toggle="tab" >SNPid Window</a></li>
    <li {%if active_tab == 'gl-region' %}
        class="active"
        {% endif %}><a href="#gl_region_search_form" data-toggle="tab">Genomic Location</a></li>
    <li {%if active_tab == 'gene-name'%}class="active"{%endif%}><a href="#gene_name_form" data-toggle="tab" >Gene</a></li>
    <li {%if active_tab == 'tf'%}class="active"{%endif%}><a href="#tf_search_form" data-toggle="tab" >Transcription Factor</a></li>
  </ul>


  <div id="tabbed-forms" class="tab-content">
  {% include "ss_viewer/gl_search.html" %} 
  {% include "ss_viewer/snpid_search.html" %}
  {% include "ss_viewer/trans_factor_search.html" %}
  {% include "ss_viewer/snpid_window_search.html" %}
  {% include "ss_viewer/gene_name_search.html" %}
   <!-- if the nav tab ends here, you can independently scroll the search results -->
  </div> <!-- close the 'tabbed forms' div -->
  </div> <!-- close the 'side' div -->

   <!-- begin downloads div -->
   <div id="infobox">
   <div class="explain" id="search-exp"> <!-- contains information about each search type when its tab is active -->
     <p class="explain-search" id="snpid_search_form-explain">
       Please type SNPids of interest in the box or upload a text file 
       containing a list of SNPids.
       Significant motif matches reaching the p-value cutoff will be returned.
     </p>
     <p class="explain-search" id="snpid_window_form-explain">
       Please type a SNPid of interest and a window size (number of base pairs)
       around the SNP.
       atSNP grabs all SNPs located in the region and finds SNP-motif 
       combinations reaching the p-value cutoff. 
     </p>
     <p class="explain-search" id="gl_region_search_form-explain"> 
       Please specify a genomic region of interest by typing its start and
       end position, and selecting the chromosome.
       The region starts at 0 or 1 (?). atSNP grabs all SNPs located in the
       region and finds SNP-motif combinatinos reaching the p-value cutoff.
     </p>
     <p class="explain-search" id="gene_name_form-explain">
       Please type a gene symbol name and a window size to which you want to 
       extend a region of interest around the gene.
       atSNP grabs all SNPs located in the region and finds SNP-motif 
       combinations reaching the p-value cutoff. 
     </p>
     <p class="explain-search" id="tf_search_form-explain">
       Please select a transcription factor library to use, then select a 
       transcription factor of interest. JASPAR and encode information is
       available <a href="{% url 'ss_viewer:help-page' %}#part-1:part-1">
       here</a>. atSNP shows all SNPs having a statistically significant impact
       on the binding of the transcription factor at the p-value cutoff.
     </p>
   </div> <!-- end of 'search-exp' div -->
   <div class="explain" id="download-exp" >
         <div>
           <p> Numeric data for the search results shown here can be downloaded in CSV
             format. 
            <div id="download_button" style="display:none;" >
              <input type="submit" name="action"
                     value="Download Results"
                     class="btn-xs btn-danger"
                     onclick="clickDownloadResultsAJAX();" />
            </div>
           </p>
         </div>
         <div>
            <p> 
              A ZIP archive of PNG images for plots of the data on this page can be 
              downloaded. To include plots in this download, check the boxes in the
              rightmost column of the search results. Shortcuts to checking or unchecking
              all of these boxes are available below the plot Download Button.<br />
              <span style="font-size:10px;">
                (Single plots can also be downloaded from the Details view for each row of data.)
              </span>
              <div id="download_plots_for_checked_rows" style="display:none;">
                  <!-- TODO: put an alert indicating there's no darn rows checked -->
                  <input type="submit" name="checkedRowPlotDownload"
                         value="Download Plots for Checked Rows"
                         class="btn-xs"
                         onclick="checkedRowPlotDownload();" />
              </div>
           </p>
                  <input type="submit" name="checkAllBoxes"
                         value="Add All Plots on Page to Download"
                         class="btn-xs btn-link"
                         onclick="hitAllPlotCheckboxes(true);" />
                  <input type="submit" name="uncheckAllBoxes"
                         value="Remove All Plots on Page From Download"
                         class="btn-xs btn-link"
                         onclick="hitAllPlotCheckboxes(false);" />
        </div>
   </div>
   <!-- end downloads div -->
  </div> <!-- end the 'info box' div -->
<!-- end 'flex' div -->
</div>


<!--  this is the way that we will be displaying the plot -->
<div class="side plot">
   <div id="plots">
   {% include "ss_viewer/svg_skeleton.html" %}
   {% include "ss_viewer/fixed_width_cl_plot.html" %}
   </div>

</div>
<canvas id="canvas" style="display:none;" width="800" height="370"></canvas>

<!-- this div will contain the search params to submit for paging -->
<div id='current_search_params' style="display:none;">
</div>

<span id='type_of_shown_results' style="display:none;" >
{% if active_tab  %}
  {{ active_tab }} 
{% endif %}
</span>

<div id="status_message"> {{ status_message }} </div>

<!-- Errors will be reported here when they are returned from AJAX requests -->
<div id="form_errors">
</div>


<!-- block of download buttons! -->

<!-- This isn't a discrete function anymore -->
<!-- TODO: deprecate the code below completely -->
<!-- <div id="download_page_of_plots" style="display:none;">
    <input type="submit" name="bulkPlotDownload"
           value="Download This Page of Plots"
           class="btn-xs"
           onclick="bulkPlotDownload();" />
</div> -->
<!-- end of block of download button code to deprecate4 -->






<div id="drop-in" class="scroll">
</div>
<br />

<div id="ajaxyPagingButtons" >
     <button type="button"
             onclick='pagingAJAX("Prev");'
             style="display:none;"
             id="prev_button">
             <span class="glyphicon glyphicon-chevron-left"></span>
             Previous</button>
     <button type="submit" 
             onclick='pagingAJAX("Next");'
             style="display:none;"
             id="next_button">Next
             <span class="glyphicon glyphicon-chevron-right"></span>
             </button>
</div>

</div> <!-- close the 'content' div -->
</div> <!-- close the 'container' div -->

<!-- TODO: ensure this is handled in <head> and get it out of here. -->
<script src="{% static 'ss_viewer/js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('#tabs').tab();

        /* (for searches by TF) have JASPAR selected by default */
            $('#id_encode_trans_factor').attr('disabled', 'disabled');
            $('#id_tf_library_0').attr('checked', 'checked');
            $('#id_tf_library_1').removeAttr('checked');

        /* enable and disable the Transcription Factor selectors based 
           on which one the user is going to search*/
        $('#id_tf_library').change(function(e){
             var target_val = e.target.attributes.getNamedItem('value');
             if (target_val.value == 'encode'){
                $("#id_trans_factor").attr('disabled', 'disabled');
                $("#id_encode_trans_factor").removeAttr('disabled'); }
             if ( target_val.value == 'jaspar'){
                $("#id_encode_trans_factor").attr('disabled', 'disabled');
                $("#id_trans_factor").removeAttr('disabled');
               }
         });

    setupSearchDemos();

    /* blank out the snpdis requested if the file upload button is clicked. */
    $("#id_file_of_snpids").click(function(e)  { $("#id_raw_requested_snpids").val(""); }); 
  
    drawPlotsInline();

    //Event listeners to submit forms asynchronously. 
    setupAjaxyFormSubmissions();

    });//end of document.ready stuff.

      //put search results into the document.
      function show_search_results(json) {
        showHidePrevNext(json.search_paging_info);
        //if it's null, no buttons will be shown.

        $("#download_button").attr("style", "display: inline;");
        $("#download_page_of_plots").attr("style", "display: inline;");
        $("#download_plots_for_checked_rows").attr("style", "display: inline;");

        var content = `<table id="search_results" class="table table-condensed fixed-header"> \
          <thead class="fixed-header">                                                         \   
          <tr class="header" id="hide">                                   \ 
               <th class="snpid"><span>SNPid
                    <sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:snpTable">?</a></sup>  
                                                   </span>  </th>     \ 
               <th class="coordinate"><span>Chromosome:Position<sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:snpTable">?</a></sup>
                                                   </span>  </th>     \ 
               <th class="pval_rank" ><span>p-value Rank<sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup>
                                                   </span>  </th>     \
               <th class="pval_ref"><span>p-value Reference<sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup>
                                                   </span>  </th>     \ 
               <th class="pval_snp"><span>p-value SNP<sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup> 
                                                   </span>  </th>     \
               <th class="trans_factor"><span>Transcription Factor<sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:motifTable">?</a></sup> 
                                                   </span>  </th>      \ 
               <th class="details"><span>Details                   </span>  </th>      \
               <th class="cl_plot"><span>Composite Logo Plot
                   <sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-4:part-4"> ?</a></sup> 
                                                    </span>  </th>    \ 
               <th class="add_to_download"><span>Add to Download            </span>  </th>    \
          </tr>                                                \ 
          </thead>                                             \ 
          <tbody class="scroll-content">
         </tbody>`;                                
          $("#drop-in").append(content);
          $('#download-exp').show();
          var rows = "";
          for (var i = 0; i < json.api_response.length; i ++){
              rows += "<tr>";
              rows += "<td class='snpid' >" + 
                      '<a href="' + json.api_response[i].dbsnp_link + '" target="_blank">' + 
                        json.api_response[i].snpid + '</a>' + 
                      "</td>";   
              rows += "<td class='coordinate'>" +
                          '<a href="' + json.api_response[i].ucsc_link + '" target="_blank">' +
                          json.api_response[i].chr + ":"  + 
                          json.api_response[i].pos.toLocaleString() + '</a>' +
                      "</td>";   

              rows += "<td class='pval_rank'>" + json.api_response[i].pval_rank.toExponential(3) + "</td>";   
              rows += "<td class='pval_ref'>" + json.api_response[i].pval_ref.toExponential(3) + "</td>";   
              rows += "<td class='pval_snp'>" + json.api_response[i].pval_snp.toExponential(3) + "</td>";   

              rows += "<td class='trans_factor'>";
              if ( ! ( json.api_response[i].factorbook_link === null ) ){
                rows += '<a href="' + 
                        json.api_response[i].factorbook_link +
                        '" target="_blank">';
              } 
              rows += json.api_response[i].trans_factor;
              if (!(json.api_response[i].factorbook_link === null)){ rows += '</a>'; }

              rows += "</td>";   

              rows += '<td id="plot_data_'  + json.api_response[i].plot_id_str +  '" style="display:none;"';
              rows += ' class="plotting_data">' + json.api_response[i].json_for_plotting + '</td>';
              rows += '<td class="details"> <a href=' 
                             + '"{% url 'ss_viewer:detail' id_str='x_x_x' %}'.replace('x_x_x', '') 
                             +  json.api_response[i].plot_id_str + '" target="_blank">Details</a></td>';
              rows += "<td class=\"stacked-plot cl_plot\" id=\"stacked-plot-" + json.api_response[i].plot_id_str +"\"></td>";
              rows += '<td class="add_to_download"> <input type="checkbox" id="' + json.api_response[i].plot_id_str + '" ></td>';
              rows += "</tr>";
          }
          $("#drop-in table tbody").append(rows);

          //$('.table-fixed-header').fixedHeader();
          //console.log("setup the fixed, scrollable header");          

          setupPlotsForSearchResults(); 
          console.log("we setup the search results plots.. " );


          //show the download stuffs here.
      }//end of show_search_results function.



    $(".formcontrol").tooltip({
      position: "bottom left",
      offset: [-2, 10],
      opacity: 0.1
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        var target = $(e.target).attr("href");
        //based on what the value of target is. 
        //make a selector from 'target'.  
        //hide all of the other ones; 
        $("p.explain-search").hide();  
        $(target + '-explain').show();
        console.log("just triggered display of explaination for " + target);
    });
</script>
</body>
