{% load staticfiles %}
<head>
  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>atSNP Search</title>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link href="{% static 'ss_viewer/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'ss_viewer/custom.css' %}" rel="stylesheet">
  <link href="{% static 'ss_viewer/plot-styles.css' %}" rel="stylesheet"> 
  
  <script src="http://d3js.org/d3.v3.min.js"></script>
   
   <script type="text/javascript" src="{% static 'ss_viewer/cloneTheSkeleton.js' %}"> </script>  
   <script type="text/javascript" src="{% static 'ss_viewer/plotIntoSVGSkeleton.js' %}"> </script> 
   <script type="text/javascript" src="{% static 'ss_viewer/spin.min.js' %}"> </script> 
   <script type="text/javascript" src="{% static 'ss_viewer/setupSearchDemos.js' %}"> </script> 
   <script type="text/javascript" src="{% static 'ss_viewer/setupCSRF.js' %}"> </script> 
   <script type="text/javascript" src="{% static 'ss_viewer/js/dist/jszip.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'ss_viewer/js/FileSaver.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'ss_viewer/setupBulkPlotDownloads.js' %}"></script>
   <script type="text/javascript" src="{% static 'ss_viewer/ajaxyPosts.js' %}"></script>
   <!-- ajaxy posts contains code for creating AJAXy posts for searches, paging, and CSV downloads -->
   <script type="text/javascript" src="{% static 'ss_viewer/searchControl.js' %}"></script>
   <!-- searchControl.js contains code for setting up the AJAXy form submitssions,
           paging, hiding/showing controls -->
   <script type="text/javascript" src="{% static 'ss_viewer/plots.js' %}"></script>
   <!-- plots.js contains all code for drawing plots  -->
</head>
<body>
<div class="container">
<div id="content">
{% include "ss_viewer/navbar.html" with active='searches' %}

<div class="side"> 

<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li  {%if active_tab == 'snpid' or active_tab == 'none-yet'%}class="active"{%endif%}><a href="#snpid_search_form" data-toggle="tab"  >SNPid List</a></li>
  <li {%if active_tab == 'snpid-window'%}class="active"{%endif%}><a href="#snpid_window_form" data-toggle="tab" >SNPid Window</a></li>
  <li {%if active_tab == 'gl-region' %}
      class="active"
      {% endif %}><a href="#gl_region_search_form" data-toggle="tab">Genomic Location</a></li>
  <li {%if active_tab == 'gene-name'%}class="active"{%endif%}><a href="#gene_name_form" data-toggle="tab" >Gene</a></li>
  <li {%if active_tab == 'tf'%}class="active"{%endif%}><a href="#tf_search_form" data-toggle="tab" >Transcription Factor</a></li>
</ul>


<div id="tabbed-forms" class="tab-content">
{% include "ss_viewer/gl_search.html" %} 
{% include "ss_viewer/snpid_search.html" %}
{% include "ss_viewer/trans_factor_search.html" %}
{% include "ss_viewer/snpid_window_search.html" %}
{% include "ss_viewer/gene_name_search.html" %}
 <!-- if the nav tab ends here, you can independently scroll the search results -->
</div> <!-- close the 'side' div -->
</div> <!-- close the 'tabbed forms' div -->

<!--  this is the way that we will be displaying the plot -->
<div class="side plot">
   <div id="plots">
   <div id="download-exp" float="right" style="display:none; padding:10px; margin-left:100px; width:300px; border:1px solid black;">
     the downloads?
     <p> Numeric data for the search results shown here can be downloaded in CSV
         format. 
        <div id="download_button" style="display:none;" >
            <input type="submit" name="action"
                   value="Download Results"
                   class="btn-xs btn-danger"
                   onclick="clickDownloadResultsAJAX();" />
        </div>
     </p>
     <p> 
        A ZIP archive of PNG images for plots of the data on this page can be 
        downloaded. To include plots in this download, check the boxes in the
        rightmost column of the search results.
        <div id="download_plots_for_checked_rows" style="display:none;">
            <!-- TODO: put an alert indicating there's no darn rows checked -->
            <input type="submit" name="checkedRowPlotDownload"
                   value="Download Plots for Checked Rows"
                   class="btn-xs"
                   onclick="checkedRowPlotDownload();" />
        </div>

     </p>
   </div>
   {% include "ss_viewer/svg_skeleton.html" %}
   {% include "ss_viewer/half_plot_svg_skeleton.html" %}
   {% include "ss_viewer/half_plot_snp_svg_skeleton.html" %}
   </div>
</div>
 <canvas id="canvas" style="display:none;" width="800" height="370"></canvas>

<!-- this div will contain the search params to submit for paging -->
<div id='current_search_params' style="display:none;">
</div>


<span id='type_of_shown_results' style="display:none;" >
{% if active_tab  %}
  {{ active_tab }} 
{% endif %}
</span>


<div id="status_message"> {{ status_message }} </div>


<!-- Errors will be reported here when they are returned from AJAX requests -->
<div id="form_errors">
</div>

<!-- block of download buttons! -->

<div id="download_page_of_plots" style="display:none;">
    <input type="submit" name="bulkPlotDownload"
           value="Download This Page of Plots"
           class="btn-xs"
           onclick="bulkPlotDownload();" />
</div>




<div id="ajaxyPagingButtons" >
     <button type="button"
             onclick='pagingAJAX("Prev");'
             style="display:none;"
             id="prev_button">
             Previous</button>
     <button type="submit" 
             onclick='pagingAJAX("Next");'
             style="display:none;"
             id="next_button">
             Next</button>
</div>


<div id="drop-in">
</div>

<!-- this div is where search results are 'dropped in' -->

</div> <!-- close the 'content' div -->
</div> <!-- close the 'container' div -->

<!-- TODO: ensure this is handled in <head> and get it out of here. -->
<script src="{% static 'ss_viewer/js/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('#tabs').tab();

        /* (for searches by TF) have JASPAR selected by default */
            $('#id_encode_trans_factor').attr('disabled', 'disabled');
            $('#id_tf_library_0').attr('checked', 'checked');
            $('#id_tf_library_1').removeAttr('checked');

        /* enable and disable the Transcription Factor selectors based 
           on which one the user is going to search*/
        $('#id_tf_library').change(function(e){
             var target_val = e.target.attributes.getNamedItem('value');
             if (target_val.value == 'encode'){
                $("#id_trans_factor").attr('disabled', 'disabled');
                $("#id_encode_trans_factor").removeAttr('disabled'); }
             if ( target_val.value == 'jaspar'){
                $("#id_encode_trans_factor").attr('disabled', 'disabled');
                $("#id_trans_factor").removeAttr('disabled');
               }
         });

    setupSearchDemos();

    /* blank out the snpdis requested if the file upload button is clicked. */
    $("#id_file_of_snpids").click(function(e)  { $("#id_raw_requested_snpids").val(""); }); 
  
    drawPlotsInline();

    //Event listeners to submit forms asynchronously. 
    setupAjaxyFormSubmissions();

    });//end of document.ready stuff.

      //put search results into the document.
      function show_search_results(json) {
        showHidePrevNext(json.search_paging_info);
        //if it's null, no buttons will be shown.

        $("#download_button").attr("style", "display: inline;");
        $("#download_page_of_plots").attr("style", "display: inline;");
        $("#download_plots_for_checked_rows").attr("style", "display: inline;");


        var content = `<table id="search_results" class="table table-striped table-condensed"> \
          <thead>                                                         \   
          <tr>                                      \ 
              <td>SNPid                    </td>    \ 
              <td>Chromosome:Position      </td>    \ 
              <td>Reference Plot           </td>    \ 
              <td>SNP Plot                 </td>    \
              <td style="display:none;">Reference Allele         </td>    \ 
              <td style="display:none;">SNP Allele               </td>    \ 
              <td>p-value Rank             </td>    \ 
              <td>p-value Reference        </td>    \ 
              <td>p-value SNP              </td>    \ 
              <td>Transcription Factor     </td>    \ 
              <td style="display:none;">Motif                    </td>    \ 
              <td>Details                  </td>    \
              <td>Add to                            \
                  Bulk Download            </td>    \
          </tr>                                     \ 
          </thead>                                  \ 
          <tbody>`;                                
          $("#drop-in").append(content);
          $('#download-exp').show();
          var rows = "";
          for (var i = 0; i < json.api_response.length; i ++){
              rows += "<tr>";
              rows += "<td>" + 
                      '<a href="' + json.api_response[i].dbsnp_link + '" target="_blank">' + 
                        json.api_response[i].snpid + '</a>' + 
                      "</td>";   
              rows += "<td>" +
                          '<a href="' + json.api_response[i].ucsc_link + '" target="_blank">' +
                          json.api_response[i].chr + ":"  + 
                          json.api_response[i].pos.toLocaleString() + '</a>' +
                      "</td>";   
              rows += "<td class=\"ref-plot\" id=\"ref-plot-" + json.api_response[i].plot_id_str +"\"></td>";
              rows += "<td class=\"snp-plot\" id=\"snp-plot-" + json.api_response[i].plot_id_str +"\"></td>";
              rows += '<td style="display:none;">' + json.api_response[i].refAllele + "</td>";   
              rows += '<td style="display:none;">' + json.api_response[i].snpAllele + "</td>";   
              rows += "<td>" + json.api_response[i].pval_rank.toExponential(3) + "</td>";   
              rows += "<td>" + json.api_response[i].pval_ref.toExponential(3) + "</td>";   
              rows += "<td>" + json.api_response[i].pval_snp.toExponential(3) + "</td>";   
              console.log("json.api_response[i].factorbook_link"+json.api_response[i].factorbook_link);         

              rows += "<td>";

              if ( ! ( json.api_response[i].factorbook_link === null ) ){
                rows += '<a href="' + 
                        json.api_response[i].factorbook_link +
                        '" target="_blank">';
              } 
              rows += json.api_response[i].trans_factor;
              if (!(json.api_response[i].factorbook_link === null)){ rows += '</a>'; }

              rows += "</td>";   

              rows += '<td id="plot_data_'  + json.api_response[i].plot_id_str +  '" style="display:none;"';
              rows += ' class="plotting_data">' + json.api_response[i].json_for_plotting + '</td>';
              rows += '<td> <a href=' 
                             + '"{% url 'ss_viewer:detail' id_str='x_x_x' %}'.replace('x_x_x', '') 
                             +  json.api_response[i].plot_id_str + '" target="_blank">Details</a></td>';
              rows += '<td> <input type="checkbox" id="' + json.api_response[i].plot_id_str + '" ></td>';
              rows += "</tr>";
          }
          $("#drop-in table tbody").append(rows);
          setupPlotsForSearchResults(); 


          //show the download stuffs here.
      }//end of show_search_results function.



    $(".formcontrol").tooltip({
      position: "bottom left",
      offset: [-2, 10],
      opacity: 0.1
    });
</script>
</body>
