<h1> specify genomic location OR snpid</h1>

<div id="status_message"> {{ status_message }} </div>

<form enctype="multipart/form-data" action="{% url 'ss_viewer:gl-region-search' %}" method="post" >
{% csrf_token %}
  <table>
    {{ gl_search_form.as_table }}
  </table>
  <input type="submit" value="Search by Genomic Location" />
</form>

<form enctype="multipart/form-data" action="{% url 'ss_viewer:snpid-search' %}" method="post">
{% csrf_token %}
  <table>
    {{ snpid_search_form.as_table }}
  </table>
  <input type="submit" value="Search by SNPid" />
</form>

<!-- consider making this part modular; DRYing it up some how... -->
<div id="scores_to_view">
  {% if api_response  %}
  <table> 
    <tr>
        <td>chromosome</td><td>pos</td>
        <td>snpid</td><td>transcription factor</td><td>motif length</td>
        <td>pval rank</td>
        <td>snp start</td><td>snp end</td><td>ref start</td><td>ref end</td>
        <td>log lik ref</td> <td> log lik ratio </td>
        <td>log enhance odds</td> <td>log reduce odds</td>
        <td>log lik snp</td>  
        <td> snp strand </td>  <td> ref strand </td>
        <td>pval ref</td><td>pval snp</td><td>pval cond ref</td>
        <td>pval cond snp</td><td>pval diff</td>
    </tr>
    {% for onerow in api_response %}
    <tr>   
        <td>{{ onerow.chr }}</td><td>{{ onerow.pos }}</td> 
        <td>{{ onerow.snpid }}</td><td> {{ onerow.trans_factor }}</td>
        <td>{{ onerow.motif_len}}</td>
        <td>  {{ onerow.pval_rank}} </td>
        <td>{{ onerow.snp_start}} </td><td>{{ onerow.snp_end}}</td><td>{{ onerow.ref_start}}</td>
        <td>{{ onerow.ref_end }} </td>
         <td>{{ onerow.log_lik_ref }} </td><td> {{ onerow.log_lik_ratio}} </td>
        <td>{{ onerow.log_enhance_odds}}</td><td>{{onerow.log_reduce_odds}} </td>
        <td>{{ onerow.log_lik_snp}} </td>  
        <td>{{ onerow.snp_strand }}</td>  <td>{{ onerow.ref_strand }}</td>
        <td>{{ onerow.pval_ref }} </td><td>{{ onerow.pval_snp }} </td>
        <td>{{ onerow.pval_cond_ref }}</td> <td>{{ onerow.pval_cond_snp}}</td>
        <td>{{ onerow.pval_diff }}</td>    </tr>
    {%  endfor %}
  </table>
  {% endif %}
</div>
