{% load staticfiles %}

<style rel="text/css">
div.collapse.navbar-collapse ul.navbar-nav.nav li  { 
    margin-left: 3em;
}
nav.navbar.navbar-default {
    background-color: #f0f0f0;
}
.navbar-default .navbar-nav>.active>a {
    background-color: #d9d9d9;
}

</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- stuff  with the sr-only class is for screen readers! -->
    <!-- this example https://getbootstrap.com/components/#navbar
          came with a dropdown and other goodies. -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <img style="height: 35px; float: left; margin-top: 8px; margin-right: 20px;"
           src="{% static 'ss_viewer/atsnp-logo-transparent.png' %}" />
       <ul class="nav navbar-nav">
        <!-- the li that represents the page we're on should have class == 'active' -->
        <li {% if active == 'search' %}class="active"{%endif%} >
           <a href="{% url 'ss_viewer:search' %}">
           <span class="glyphicon glyphicon-search"></span>
            Search</a></li>

        <li {% if active == 'help' %}class="active"{%endif%} >
            <a href="{% url 'ss_viewer:help-page'  %}">
            <span class="glyphicon glyphicon-book"></span>
            Help</a></li>

        <li {% if active == 'faq' %}class="active"{%endif%} >
         <a href="{% url 'ss_viewer:faq-page'  %}">
         <span class="glyphicon glyphicon-question-sign"></span>
         FAQ</a></li>
        <li {% if active == 'about' %}class="active"{%endif%} >
            <a href="{% url 'ss_viewer:about-page' %}">
            <span class="glyphicon glyphicon-info-sign"></span>
            About</a>
        </li>
      </ul>
         <!-- style this nicely -->
        <a href="http://www.cpcp.wisc.edu/">
        <img style="height: 40px; float: right; margin-top:4px;"
           src="{% static 'ss_viewer/CPCP-logo.png' %}" />
        </a>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
