{% load staticfiles %}
<div class="tab-pane panel-body" id="shared_controls_panel">
<!-- Do not switch based on which form is up. -->
<form id="shared_controls">
<span style="font-size:16px; font-weight:bold; margin-left: .75em;" >Refine your search to identify <span class="gain">GAIN</span> 
      and/or <span class="loss">LOSS</span> of function, and to narrow down PWMs based on their degeneracy.
</span>

<span id="gain_and_loss" style="display:none;">{{ gain_and_loss }}</span>

<table>
<tr>
<td class="half-of-shared-controls">
    <table class="formControls leftside">
    <tbody>
    <tr>
      <td> 
         <label data-balloon="{{ tooltips.pvalue_rank }}" data-balloon-pos="right" data-balloon-length="large" for="id_pvalue_rank"> 
         P-value SNP impact<sup><a onclick="return !window(this.href);" target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup>
         </label>
      </td>
      <td class="operator-buttons"></td>
      <td class="control-column"> 
         {{ shared_search_controls_form.pvalue_rank}}
      </td>
    </tr>
    <tr> 
    <td >
        <label data-balloon="{{ tooltips.gain_and_loss }}" data-balloon-pos="up" data-balloon-length="large"> SNP impact type</label>
    </td>
    <td class="operator-buttons"></td>
    <td class="control-column">
       <div class="btn-group-vertical" style="width: 80%;" role="group">
         <button class="gain"  id="set_gain">GAIN of function</button>  
         <button class="loss"  id="set_loss">LOSS of function</button>  
       </div>
    </td>
    </tr>
    
    <tr>
      <td class="control-column" >
        <label data-balloon="{{ tooltips.pvalue_ref }}" data-balloon-pos="right" data-balloon-length="large" for="id_pvalue_ref"> P-value Reference
            <sup><a onclick="return !window(this.href);"  target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup>
        <label> 
      </td>
      <td class="operator-buttons"> {% include "ss_viewer/directional.html" with btn_name='pvalue_ref' %} </td>
       <td> 
         {{ shared_search_controls_form.pvalue_ref }}
      </td>
    </tr>
    <tr>
        <td>
          <label data-balloon="{{ tooltips.pvalue_snp }}" data-balloon-pos="right" data-balloon-length="large" for="id_pvalue_snp"> P-value SNP 
            <sup><a onclick="return !window(this.href);"  target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup>
          </label>
        </td>
        <td class="operator-buttons">{% include "ss_viewer/directional.html" with btn_name='pvalue_snp' %} </td>
        <td>
             {{ shared_search_controls_form.pvalue_snp }} 
        </td>
    </tr>
    </tbody>
    </table>
</td>
<td class="half-of-shared-controls" >
 <table class="formControls extras">
    <tbody>
    <tr>
 
       {% include "ss_viewer/sort_widget.html"  %} 
    </tr>
    <tr>
        <td><label data-balloon="{{ tooltips.motif_degeneracy }}" data-balloon-pos="down" data-balloon-length="fit" for="id_ic_filter">Filter by motif degeneracy<sup>
        <a onclick="return !window(this.href);"  target="_blank" href="{% url 'ss_viewer:help-page'%}#part-6:part-6">?</a></sup>
        </label></td>
        <td> {{ shared_search_controls_form.ic_filter }}  </td>
    </tr>
    </tbody>
 </table>
</td>
</tr>
</table>

   <!-- below is where we are putting the hidden fields -->
   {# Include the hidden fields #}
   {% for hidden in shared_search_controls_form.hidden_fields %}
   {{ hidden }}
   {% endfor %}
   <div class="submit-buttons">
       <input type="submit" name="action" value="Search"  class="btn btn-primary" />
   </div> <!-- end div for submit buttons. -->
    <button id="shared-controls-search-demo"
            type="button" style="font-weight:bolder; " class="btn btn-link">
      Use an example search
   </button>
  </form>

</div>

