<div class="tab-pane panel-body" id="shared_controls_panel">
<!-- Do not switch based on which form is up. -->
<form id="shared_controls">
<span>Refine your search to identify GAIN and/or LOSS of function and to narrow down PWMs based on their degeneracy.</span>
<table class="formControls">
<tbody>
<tr>
  <td> 
     <label data-balloon="{{ tooltips.pvalue_rank }}" data-balloon-pos="right" data-balloon-length="large" for="id_pvalue_rank"> 
     p-value SNP impact <sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup>
     </label>
  </td>
  <td data-balloon="{{ tooltips.pvalue_rank }}" data-balloon-pos="down"> 
     {{ shared_search_controls_form.pvalue_rank}}
  </td>
</tr>
<tr>
  <td>
    <label data-balloon="{{ tooltips.pvalue_ref }}" data-balloon-pos="right" for="id_pvalue_ref"> p-value Reference
        <sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup>
    <label> 
  </td>
  <td data-balloon="{{ tooltips.pvalue_ref }}" data-balloon-pos="down">
     {% include "ss_viewer/directional.html" with btn_name='pvalue_ref' %} 
     {{ shared_search_controls_form.pvalue_ref }}
  </td>
</tr>
<tr>
    <td>
      <label data-balloon="{{ tooltips.pvalue_snp }}" data-balloon-pos="right" for="id_pvalue_snp"> p-value SNP 
        <sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-3:pvalueTable">?</a></sup>
      </label>
    </td>
    <td data-balloon="{{ tooltips.pvalue_snp }}"  data-balloon-pos="down"> 
      {% include "ss_viewer/directional.html" with btn_name='pvalue_snp' %} 
         {{ shared_search_controls_form.pvalue_snp }} 
    </td>
</tr>
<tr>
   {% include "ss_viewer/sort_widget.html"  %} 
</tr>
<tr>
    <td><label data-balloon="{{ tooltips.motif_degeneracy }}" data-balloon-pos="down" data-balloon-length="fit" for="id_ic_filter">Filter by motif degeneracy</label></td>
    <td data-balloon="{{ tooltips.motif_degeneracy }}"  data-balloon-pos="down"> {{ shared_search_controls_form.ic_filter }}  </td>
</tr>
</tbody>
</table>
   <!-- below is where we are putting the hidden fields -->
   {# Include the hidden fields #}
   {% for hidden in shared_search_controls_form.hidden_fields %}
   {{ hidden }}
   {% endfor %}
   <div class="submit-buttons">
       <input type="submit" name="action" value="Search"  class="btn btn-primary" />
   </div> <!-- end div for submit buttons. -->
    <button id="shared-controls-search-demo"
            type="button" class="btn btn-link" 
            title="Fill out the form with demo values.">
      Use demo values for search.
   </button>
  </form>

</div>

