<p>
Click the 'ascending' or 'descending' icon next to each search field in the sort control to modify the sort order.  To change a sort field's priority, select the field and advance or demote it by clicking up and down arrows.  
<br/ >
To change the cutoffs for pvalue reference or pvalue SNP between &lt; and &ge;, click on the button beside each p-value.  
<br/ >
If more than 10,000 results are returned, only the first 10,000 will be avaiable to page through. To access results past the 10,000th adjust sort order and/or priority.
</p>
