{% load staticfiles %}
<head>
  <title> Test plotting code </title>
    <!-- <link href="{% static 'ss_viewer/css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'ss_viewer/plot-styles.css' %}" rel="stylesheet">
    <script src="{% static 'ss_viewer/js/jquery-2.2.4.js' %}"></script>
    <script src="{% static 'ss_viewer/js/bootstrap.min.js' %}"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{% static 'ss_viewer/cloneTheSkeleton.js' %}"> </script> 
    <!-- remove this one? --><script type="text/javascript" src="{% static 'ss_viewer/plotIntoSVGSkeleton-scaling-work.js' %}"> </script> 
    <script type="text/javascript" src="{% static 'ss_viewer/plotIntoSVG-shrinky-plots.js' %}"> </script> 
    <script type="text/javascript" src="{% static 'ss_viewer/plots.js' %}"> </script> 
</head>
<body>

<button id="show_plot" type="button" class="btn btn-link">
  Show plot 
</button>

<!-- all plot-saving code based on : 
http://stackoverflow.com/questions/28226677/save-inline-svg-as-jpeg-png-svg -->
<button id="save_plot" type="button" class="btn btn-link">
  Save Plot
</button>

<p id="normal_plot_data">{{ normal_test_plot }}</p>
<p id="shorter_plot_data">{{ shorter_test_plot }}</p>

<!-- used for plot download -->
<canvas id="canvas" style="display:none;" 
        height="370" width="800"></canvas>

<!--  this is the way that we will be displaying the plot -->
<!-- TODO: are the 'side plot' classes needed? -->
<div class="side plot">
   <div id="plots">
   {% include "ss_viewer/svg_skeleton.html" %}
   {% include "ss_viewer/fixed_width_cl_plot.html" %}
   </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        //if jquery is being updated, note: 
        //As of jQuery 3.0, $.parseJSON is deprecated. To parse JSON 
        //strings use the native JSON.parse method instead.

        //test the whole infrastrucutre.
        var plot_data_ids = ['normal_plot_data', 'shorter_plot_data'];
        var plottingData = [];
        for (var i = 0; i < plot_data_ids.length; i++){
            var plottingJSON = $("p#" + plot_data_ids[i])[0].textContent; 
            var onePlottingData = jQuery.parseJSON(plottingJSON);
            plottingData.push(onePlottingData);
            console.log("completed setting up data for " + plot_data_ids[i] );
        }       
        cloneSVGSkeleton(plottingData);
      
        //try to make the called code here more testable. this could be replaced. 
        var stackedPlotClones = $('#target-stacked-plot-');
        for ( var n = 0; n < plottingData.length; n++){
          var targetSVGid = "target-" + plottingData[n].plot_id_str;
          var fullStackPlotId = 'target-stacked-plot-' + plottingData[n].plot_id_str;
          makeAPlot(plottingData[n], targetSVGid);
          drawFixedWidthCompositePlot(plottingData[n], fullStackPlotId);
        }
 
        //how to use setupPlotsForSearchResults ? 
        $("svg#target-0").hide();
        $("svg#target-stacked-plot-0").hide();


var btn = document.querySelector('button#save_plot');
var svg = document.querySelector('svg#target-0');
var canvas = document.querySelector('canvas');

//this should be included from elsewhere.
function svgImage(xml) {
  var image = new Image();
  image.src = 'data:image/svg+xml;base64,' + window.btoa(xml);
  //window.btoa(unescape(encodeURIComponent(xml)))}
  image.onload = function() {
  var canvas = document.createElement('canvas');
  canvas.width = image.width;
  canvas.height = image.height;
  var context = canvas.getContext('2d');
  context.drawImage(image, 0, 0);
 
  var a = document.createElement('a');
  a.download = "image.png";
  a.href = canvas.toDataURL('image/png');
  document.body.appendChild(a);
  a.click();
}}


//this should also be inculded from elsewhere.
function triggerDownload (imgURI) {
  var evt = new MouseEvent('click', {
    view: window,
    bubbles: false,
    cancelable: true
  });

  var a = document.createElement('a');
  a.setAttribute('download', 'MY_COOL_IMAGE.png');
  a.setAttribute('href', imgURI);
  a.setAttribute('target', '_blank');

  a.dispatchEvent(evt);
}

btn.addEventListener('click', function () {

  var defs = d3.select('svg#target-0').append("defs").append("marker")
                                 .attr("id","Triangle")
                                 .attr("markerWidth","5")
                                 .attr("markerHeight","3")
                                 .attr("stroke", "blue")
                                 .attr("orient", "auto")
                                 .attr("viewBox", "0 0 10 10")
                                 .attr('refX', '1')
                                 .attr('refY', '5')
                                 .append("path").attr("d", "M 0 0 L 10 5 L 0 10 z");
  var canvas = document.getElementById('canvas');
  var ctx = canvas.getContext('2d');
  var data = (new XMLSerializer()).serializeToString(svg);
  svgImage(data);
  return 2;
  //data = data + $("svg#defs")[0].innerHTML;
  console.log(data);
  var DOMURL = window.URL || window.webkitURL || window;

  var img = new Image();
  var svgBlob = new Blob([data], {type: 'image/svg+xml;charset=utf-8'});
  var url = DOMURL.createObjectURL(svgBlob);

  img.onload = function () {
    ctx.drawImage(img, 0, -30);
    DOMURL.revokeObjectURL(url);

    var imgURI = canvas
        .toDataURL('image/png')
        .replace('image/png', 'image/octet-stream');

    triggerDownload(imgURI);
  };

  img.src = url;
});



});
</script>

</body>
</html>
