<div class="tab-pane panel-body
   {%if active_tab == 'snpid' or active_tab == 'none-yet'%} active{%endif%}"  id="snpid_search_form" >
 
  <!-- first try moving search explanation into/onto search form. -->
  <div class="explain" > 
  <p class="explain-search" id="snpid_search_form-explain">
   <span class="bigred">Please type SNPids of interest in the box or upload a text file
   containing a list of SNPids.</span> <br />
   SNPids can separated with commas, spaces, or newlines.
   If more than 1,000 SNPids are specified, <br />
   only the first 1,000 will be included in the search.
  </p>
  </div>

  <form role="form" enctype="multipart/form-data" action="{% url 'ss_viewer:snpid-search' %}" method="post">
  {% csrf_token %}
  <div  class="fieldWrapper">
    <label for="id_snpid-raw_requested_snpids" data-balloon="{{ tooltips.snpid_box }}" data-balloon-pos="right">
       SNPids 
    </label>
    <div> 
      {{ snpid_search_form.raw_requested_snpids  }}
    </div>
  </div>
<table class="formControls">
<tr> 
  <td><label for="id_snpid-file_of_snpids">File of SNPids</label></td>
   <td> {{  snpid_search_form.file_of_snpids  }} 
   <button id="clear-snpid-file" class="btn-link" style="display:none;">Clear File</button></td>
</tr>
</table>
  </form>
</div>
