<div class="tab-pane panel-body
   {%if active_tab == 'snpid-window'%} active{%endif%}"  id="snpid_window_form" >
   <div class="explain"> 
   <p class="explain-search" id="snpid_window_form-explain"> 
       <span class="bigred">Please type a SNPid of interest and a window size
        (number of base pairs) around the SNP.</span><br />
        The window size is limited to 125 million bases.
   </p>
   </div>

  <form role="form" enctype="multipart/form-data" action="{% url 'ss_viewer:snpid-window-search' %}" method="post">
  {% csrf_token %}

<table class="formControls">
<tbody>

<tr>  
<td>
   <label for="id_snpid_window-snpid" data-balloon="{{ tooltips.snpid_window_snpid }}" data-balloon-pos="left" data-balloon-length="medium">
       SNPid
   </label> 
</td>
<td>     {{ snpid_window_form.snpid  }}</td>
</tr> 
 <tr> 
     <td> 
        <label for="id_snpid_window-window_size" data-balloon="{{ tooltips.snpid_window_size }}" data-balloon-pos="left" data-balloon-length="medium">
            Window Size
        </label>
     </td> 
     <td>    {{ snpid_window_form.window_size }}          </td>
 </tr>
</tbody>
</table>
  </form>
</div>
