<div class="tab-pane panel-body
   {%if active_tab == 'snpid' or active_tab == 'none-yet'%} active{%endif%}"  id="snpid_search_form" >
 
  <!-- first try moving search explanation into/onto search form. -->
  <div class="explain" > 
  <p class="explain-search" id="snpid_search_form-explain">
   <span class="bigred">Please type SNPids of interest in the box or upload a text file
   containing a list of SNPids.</span><br />If more than 1,000 SNPids are specified,
   only the first 1,000 will be included in the search.
  </p>
  </div>



  <form role="form" enctype="multipart/form-data" action="{% url 'ss_viewer:snpid-search' %}" method="post">
  {% csrf_token %}
  <div class="fieldWrapper">
    {{ snpid_search_form.raw_requested_snpids.label_tag }}
    {{ snpid_search_form.raw_requested_snpids  }}
  </div>
<table class="formControls">
<tr> 
  <td><label  for="snpid_search_form.file_of_snpids.id_for_label }}">
    {{ snpid_search_form.file_of_snpids.label }}</label>    </td>
   <td> {{  snpid_search_form.file_of_snpids  }} 
   <button id="clear-snpid-file" class="btn-link" style="display:none;">Clear File</button></td>
</tr>
</table>
  </form>
</div>
