<div class="tab-pane panel-body
   {%if active_tab == 'snpid' or active_tab == 'none-yet'%} active{%endif%}"  id="snpid_search_form" >
  <form role="form" enctype="multipart/form-data" action="{% url 'ss_viewer:snpid-search' %}" method="post">
  {% csrf_token %}
  <div class="fieldWrapper">
    {{ snpid_search_form.raw_requested_snpids.label_tag }}
    {{ snpid_search_form.raw_requested_snpids  }}
  </div>
<table class="formControls">
<tr> 
  <td><label  for="snpid_search_form.file_of_snpids.id_for_label }}">
    {{ snpid_search_form.file_of_snpids.label }}</label>    </td>
   <td> {{  snpid_search_form.file_of_snpids  }} </td>
</tr>
<tr> 
  <td>   {{ snpid_search_form.pvalue_rank_cutoff.label_tag }}  </td>
  <td>   {{ snpid_search_form.pvalue_rank_cutoff  }} </td>
</tr>
    <tr> 
  <td>   {{ snpid_search_form.pvalue_ref_cutoff.label_tag }}  </td>
  <td>   {{ snpid_search_form.pvalue_ref_cutoff  }} </td>
</tr>
<tr> 
  <td>   {{ snpid_search_form.pvalue_snp_cutoff.label_tag }}  </td>
  <td>   {{ snpid_search_form.pvalue_snp_cutoff  }} </td>
</tr>

</table>

    <div class="submit-buttons">

      <input type="submit" name="action" value="Search by SNPid"  class="btn btn-primary" />
    </div><!-- end div for submit buttons. -->
    <button id="snpid-search-demo" type="button" class="btn btn-link">Use demo values for search.</button>
  </form>
</div>
