<td>
  <label> Specify sort order:</label><br/>
  <label style="font-size: 12px;" >
    Select a field to adjust <br/> its sort priority.<br/> 
    Reverse a sort order by <br/> clicking on it.
  </label>  
</td> 
<td>
<!-- In order to add other sort fields; follow the pattern below: 
       Add an option in the first select element for the field to sort on,
       Add an option in the second select element for the sort direction for
       the new field.
-->
<div class="sort-controls">
  <div class='shift-priority'> 
      <button onclick="priorityChange(event, 'up');">
        <span class="glyphicon glyphicon-menu-up"></span>
      </button>
      <button onclick="priorityChange(event, 'down');">
        <span class="glyphicon glyphicon-menu-down"></span>
      </button>
  </div>

  <div class="sort-selectors">
      <div class="hide-overflow">
          <select class="sort-control sort-select" size=4>
            <option value="pval_rank"  direction="asc">  P-value Rank      </option>
            <option value="coordinate" direction="asc">  Genomic Coordinate</option>
            <option value="pval_snp"   direction="asc">  P-value SNP       </option>
            <option value="pval_ref"   direction="asc">  P-value Reference </option>
          </select>
      </div>

      <!-- this is supposed to be disabled; should still be clickable. -->
            <div class="hide-overflow" style="width:23px;">
            <!-- <select class="sort-control sort-order-select" disabled="true" size=5>-->
      <span style="font-size:18px;" class="sortflip glyphicon glyphicon-sort-by-attributes"></span>
      <span style="font-size:18px;" class="sortflip glyphicon glyphicon-sort-by-attributes"></span>
      <span style="font-size:18px;" class="sortflip glyphicon glyphicon-sort-by-attributes"></span>
      <span style="font-size:18px;" class="sortflip glyphicon glyphicon-sort-by-attributes"></span>
     <!--         <option value="asc">ascending              </option>
              <option value="asc">ascending              </option>
              <option value="asc">ascending              </option>
              <option value="asc">ascending              </option>
          </select> -->
      </div>
       


  </div>

           
</div>
</td>
 <style type="text/css">
    /* http://stackoverflow.com/questions/34482775/
        css-how-to-position-child-divs-in-main-div-side-by-side*/
    div.sort-controls { display:flex;  }
    div.sort-controls > div.sort-selectors { flex: 1; }

    .sort-control option{ 
          font-size: 14px; 
          height: 1.5em;
     }
    .sort-order-select option { 
             color: black; 
     }

     .sort-order-select { 
         width : 7em;
         background-color:white;
     }
     .shift-priority { width: 30px; 
                       /*display: inline-block;*/
                       margin-top: 1.5em;
                       margin-right: 4px;
                     }
     /* got this from here 
        http://stackoverflow.com/questions/41644637/
        how-to-remove-select-vertical-scroll-bar*/
    .hide-overflow select{
       padding: 4px;
       margin: -5px -20px -5px -5px;
     }
     .hide-overflow span {
       margin-top: .1em;
       margin-bottom: .1em; 
     }
     .hide-overflow {
       display: inline-block;
       vertical-align: top;
       overflow: hidden;
       border: solid #DCDFE3 1px
     }
 </style>
