<td>
   <label data-balloon="{{ tooltips.sort_order }}" data-balloon-pos="right">
      Specify sort order<sup><a target="_blank" href="{% url 'ss_viewer:help-page'%}#part-6:part-6">?</a></sup>
   </label><br/>
</td> 
<td>
<!-- In order to add other sort fields; follow the pattern below: 
       Add an option in the first select element for the field to sort on,
       Add an option in the second select element for the sort direction for
       the new field.
-->
<div class="sort-controls">
  <div class='shift-priority'> 
      <button onclick="priorityChange(event, 'up');">
        <span class="glyphicon glyphicon-menu-up"></span>
      </button>
      <button onclick="priorityChange(event, 'down');">
        <span class="glyphicon glyphicon-menu-down"></span>
      </button>
  </div>

  <div class="sort-selectors">
      <div class="hide-overflow">
          <select class="sort-control sort-select" size=4>
            <option value="pval_rank"  direction="asc">  P-value Rank      </option>
            <option value="coordinate" direction="asc">  Genomic Coordinate</option>
            <option value="pval_snp"   direction="asc">  P-value SNP       </option>
            <option value="pval_ref"   direction="asc">  P-value Reference </option>
          </select>
      </div>

      <div class="hide-overflow" style="width:23px;">
         <span style="font-size:18px;" class="sortflip glyphicon glyphicon-sort-by-attributes"></span>
         <span style="font-size:18px;" class="sortflip glyphicon glyphicon-sort-by-attributes"></span>
         <span style="font-size:18px;" class="sortflip glyphicon glyphicon-sort-by-attributes"></span>
         <span style="font-size:18px;" class="sortflip glyphicon glyphicon-sort-by-attributes"></span>
      </div>
  </div>
</div>
</td>
