<svg width="0" height="0" id="defs">
    <!-- Arrowhead marker below was shamelessly plagirized from: 
     https://developer.mozilla.org/en-US/docs/Web/SVG/Element/marker -->
    <defs>  
      <marker id="Triangle" viewBox="0 0 10 10" refX="1" refY="5"
          markerWidth="5" markerHeight="3" fill="blue" stroke="blue" orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z" />
      </marker>
    </defs>
    <!-- This SVG is for defining the arrowhead symbols used in the plots; it
         is not (and does not need to be) copied for each plot -->
</svg>

<div id="plot" class="side">
<svg class="target" id="target-0" width="900" height="400">

    <g class="plot-label">
      <text style="center" font-size="20" font-weight="bold" 
            transform="translate(70, 70)" font-family="Arial">
          Plot Label 
      </text>
    </g>
        <g id="legend" transform="translate(10)"  >
            <g id="line1margin" transform="translate(0, 150)" >
                <text style="center">Ref</text>
            </g>
            <g id="line2margin" transform="translate(0, 200)" >
                <text style="center">+/-</text>
            </g>

            <!-- added a gap between lines 2 and 3 -->
            <g id="line3margin" transform="translate(0, 300)" >
                <text style="center">+/-</text>
            </g>
            <g id="line4margin" transform="translate(0, 360)">
                <text style="center">SNP</text>
            </g>
        </g>
        <g id="logoplots" transform="translate(100)" >
            <rect id="highlight" />
            <g id="line1data" transform="translate(0, 100)" >
                <g class="ref-label">
                    <text style="center" font-family="Arial" font-size="15"
                          font-weight="bold">
                       Best Match to the Reference Genome
                    </text>
                </g>
            </g>
            <!-- Setting the x and y on a group does not make sense, use the 
                 group's transform attribute and apply a translate(x, y) -->
            <!-- Notice how each of these groups gets the translation of the parent
                 group applied to it, as well as the one specified for itself. -->
            <g id="line2data" transform="translate(0, 150)" >
            </g>
            <g id="line3data" transform="translate(0, 250)" >
                <g class="snp-label">
                    <text style="center" font-family="Arial" font-size="15" 
                          font-weight="bold">
                        Best Match to the SNP Genome
                    </text>
                </g>
            </g>
            <g id="line4data" transform="translate(0, 320)"  >
        </g>
        </g>
    </svg>
</div>

