<div class="tab-pane panel-body
   {%if active_tab == 'tf'%} active{%endif%}"  id="tf_search_form" >
  <div class="explain" >
  <p class="explain-search" id="tf_search_form-explain">
      <span class="bigred">Please select a transcription factor library to use,
       then select a transcription factor of interest. </span><br />
       Information about the JASPAR and ENCODE transcription factor libraries are 
       available <a href="{% url 'ss_viewer:help-page' %}#part-1:part-1">here</a>.
  </p>
  </div>
  <form role="form" enctype="multipart/form-data" action="{% url 'ss_viewer:trans-factor-search' %}" method="post">
  {% csrf_token %}
<table class="formControls">
<tbody>
<tr> 
  <td><label style="width: 9em;" for="id_trans_factor-tf_library_0" data-balloon="{{ tooltips.trans_factor_library }}" data-balloon-pos="up" > 
       Select a transcription factor library
      </label> 
  </td>
  <td>   {{ tf_search_form.tf_library  }} </td>
</tr>
<tr>
  <td><label style="width:9em; " for="id_trans_factor-trans_factor" data-balloon="{{ tooltips.trans_factor_select }}" data-balloon-pos="up">
       Select JASPAR Transcription Factor 
      </label></td>
  <td class='trans-factor'> {{ tf_search_form.trans_factor  }}</td>
</tr>
<tr> 
  <td><label style="width:9em;" for="id_trans_factor-encode_trans_factor" data-balloon="{{ tooltips.trans_factor_select }}" data-balloon-pos="up">Select ENCODE Transcription Factor
      </label></td>
  <td class='trans-factor'> {{ tf_search_form.encode_trans_factor  }}</td>
</tr>
</tbody>
</table>
  </form>
</div>
